@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    min-height: 100vh;
}
a{
    text-decoration-line: none;
    color: inherit;
}
.header__title-main{
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    margin-top: 30px;
    text-align: center;
    animation-duration: 1s;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container.header__container{
    margin: 20px auto;
}
.header__logo-img{
    width: 125px;
    height: 125px;
    object-fit: contain;
    cursor: pointer;
}
.header__title{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
.header__title a{
    color: #222;
    text-decoration-line: none;
}
.s1{
    display: none;
}
.s2,
.s3,
.s4{
    display: block;
    padding: 25px 0;
}
.s2__title,
.s3__title,
.s4__title{
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    cursor: default;
}
.s2__link,
.s3__link,
.s4__link{
    background-color: #000;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 0;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    text-decoration-line: none;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    transition: all 0.2s ease;
}
.s3__link div p:first-child{
    margin-bottom: 8px;
}
.s2__link:hover,
.s3__link:hover,
.s4__link:hover{
    background-color: #363636;
    transform: scale(1.01);
}
.footer{
    padding: 35px 0 28px;
}
.footer__signature{
    text-align: center;
    color: rgb(2, 2, 2);
    text-decoration-line: none;
    font-weight: normal;
}
.link__span{
    font-size: 14px;
    color: rgb(171 171 171);
}
.link__svg-img{
    position: absolute;
    top: auto;
    bottom: auto;
    left: 12px;
    width: 42px;
    height: 42px;
    object-fit: contain;
}
.link__svg-img.whatsapp-logo{
    width: 30px;
    height: 30px;
    left: 19px;
}
.link__svg-img.social-logo{
    width: 32px;
    height: 32px;
    left: 19px;
}
.toTopBtn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    transition: all .3s linear;
    cursor: pointer;
}
.toTopBtn:after{
    content: '';
    position: absolute;
    top: calc(50% - 15px / 2);
    left: calc(50% - 15px / 2);
    display: block;
    width: 15px;
    height: 15px;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-top-right-radius: 3px;
    transform: rotateZ(-45deg) translate(-3px, 1px);
}
.toTopBtn:hover{
    background-color: rgb(36, 36, 36);
}
.toTopBtn{
    display: none;
}
#progress-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 3px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    /*box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);*/
}
#progress{
    border-radius: 2px;
    width: 0%;
    height: 100%;
    background-color: #000;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    /*border-right: 3px solid #fff;*/
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
}
.map__container{
    display: block;
    width: 100%;
    position: relative;
    padding-top: 100%;
    border-radius: 8px;
    margin: 10px 0 35px;
    overflow: hidden;
}
#map{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.map-page__title:not(:first-child){
    margin-top: 40px;
}
.info__container{
    text-align: center;
    font-style: normal;
}
.info__container address,
.info__container p{
    font-style: normal;
    margin-bottom: 5px;
}

/* <slider styles> */
.splide{
    margin-bottom: 60px;
}
.slide__content-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: zoom-in;
}
.slide__content-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}
.splide__pagination{
    top: 105%;
}
.splide__pagination__page{
    border: 0.2px solid #000;
    background-color: #fff;
    width: 15px;
    height: 15px;
    margin: 8px;
}
.splide__pagination__page.is-active{
    background-color: #000;
    opacity: 1;
}
.slide__content-lightbox{
    text-decoration: none;
    color: inherit;
    cursor: zoom-in;
}
.splide__arrow{
    opacity: 1;
    background: #fff;
    border: .2px solid #000;
}
.splide__arrow--next{
    right: -10px;
}
.splide__arrow--prev{
    left: -10px;
}
/* </slider styles> */

@media screen and (min-width:991px){
    .map__container{
        padding-top: 56.25%;
    }
}
@media screen and (max-width:320px){
    .s2__link div:nth-child(2){
        max-width: 65%;
        font-size: 15px;
    }
}